<?xml version="1.0" encoding="UTF-8" ?>
<configuration staus="OFF">
    <appenders>
        <!--输出日志到控制台的配置-->
        <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%l] %-5level - %msg%n" />
    </Console>
         <!--输出日志到文件的配置-->     
        <File name="log" fileName="162_S2_JAVA/log/test.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%l] %-5level - %msg%n" />
        </File>
    </appenders>
    <loggers>
        <root level="all">
            <appender-ref ref="Console"/>
            <appender-ref ref="log"/>
         </root>
      </loggers>
 </configuration>